# Introduction

The Bureau of Economic Analysis (BEA) publishes economic statistics in a variety of formats. This document describes the BEA Data Retrieval Application Programming Interface (API) â€“ including detailed instructions for retrieving data and meta-data published by BEA using the pyBEA package. 

The pyBEA pacakge provides a simple interface to the BEA API and includes methods for retrieving a subset of BEA statistical data, including any meta-data describing it, and loading the results into a Pandas DataFrame object for further analysis.

## Data Return Format
The BEA API returns data in one of two formats: JSON or XML (with JSON being the default). Currently the pyBEA package only supports JSON requests.

In [1]:
import pybea

## Meta-Data API Methods

The BEA API contains three methods for retrieving meta-data as follows:

1. `GetDataSetList`: retrieves a list of the datasets currently offered.
2. `GetParameterList`: retrieves a list of the parameters (required and optional) for a particular dataset.
3. `GetParameterValues`: retrieves a list of the valid values for a particular parameter.

Each of these methods has a corresponding function in the `pybea` package.

In [ ]:
pybea.get_data_set_list?

In [ ]:
pybea.get_parameter_list?

In [ ]:
pybea.get_parameter_values?

## Example Usage

In [2]:
# replace this with your BEA data API key!
USER_ID = '24F50E99-8209-44F6-8225-2A91BF9ED433'

In [3]:
# access the BEA data API...
available_datasets = pybea.get_data_set_list(USER_ID)
available_datasets

                DatasetName                                 DatasetDescription
0                      NIPA                               Standard NIPA tables
1        NIUnderlyingDetail               Standard NI underlying detail tables
2                       MNE                          Multinational Enterprises
3               FixedAssets                       Standard Fixed Assets tables
4                       ITA                International Transactions Accounts
5                       IIP                  International Investment Position
6             GDPbyIndustry                                    GDP by Industry
7            RegionalIncome  The RegionalIncome dataset is obsolete. Please...
8           RegionalProduct  The RegionalProduct dataset is obsolete. Pleas...
9               InputOutput                                  Input-Output Data
10  UnderlyingGDPbyIndustry                         Underlying GDP by Industry
11            IntlServTrade                       International Services Trade
12                 Regional                                 Regional data sets
13       APIDatasetMetaData                  Metadata about other API datasets

In [4]:
request = pybea.api.DataSetListRequest(USER_ID,
                                       ResultFormat="JSON")
request.data_set_list

                DatasetName                                 DatasetDescription
0                      NIPA                               Standard NIPA tables
1        NIUnderlyingDetail               Standard NI underlying detail tables
2                       MNE                          Multinational Enterprises
3               FixedAssets                       Standard Fixed Assets tables
4                       ITA                International Transactions Accounts
5                       IIP                  International Investment Position
6             GDPbyIndustry                                    GDP by Industry
7            RegionalIncome  The RegionalIncome dataset is obsolete. Please...
8           RegionalProduct  The RegionalProduct dataset is obsolete. Pleas...
9               InputOutput                                  Input-Output Data
10  UnderlyingGDPbyIndustry                         Underlying GDP by Industry
11            IntlServTrade                       International Services Trade
12                 Regional                                 Regional data sets
13       APIDatasetMetaData                  Metadata about other API datasets

In [5]:
regional_income_params = pybea.get_parameter_list(USER_ID,
                                                  DataSetName='RegionalIncome',
                                                  ResultFormat="XML")
regional_income_params

,MultipleAcceptedFlag,ParameterDataType,ParameterDefaultValue,ParameterDescription,ParameterIsRequiredFlag,ParameterName
0,1,string,0,Comma-delimited list of 5-character geographic...,0,GeoFips
1,0,integer,0,Line code for a statistic or industry,0,LineCode
2,0,string,0,Income or employment table to retrieve,0,TableName
3,1,string,0,Comma-delimted list of years; LAST5 for latest...,0,Year

In [6]:
request = pybea.api.ParameterListRequest(USER_ID,
                                         DataSetName='RegionalIncome',
                                         ResultFormat="JSON")
request.parameter_list

,ParameterName,ParameterDataType,ParameterDescription,ParameterIsRequiredFlag,ParameterDefaultValue,MultipleAcceptedFlag
0,GeoFips,string,Comma-delimited list of 5-character geographic...,0,0,1
1,LineCode,integer,Line code for a statistic or industry,0,0,0
2,TableName,string,Income or employment table to retrieve,0,0,0
3,Year,string,Comma-delimted list of years; LAST5 for latest...,0,0,1

In [7]:
regional_income_geofips = pybea.get_parameter_values(USER_ID,
                                                     DataSetName='RegionalIncome',
                                                     ParameterName='GeoFips')
regional_income_geofips

KeyError: 'Results'

In [8]:
request = pybea.api.ParameterValuesRequest(USER_ID,
                                           DataSetName='RegionalIncome',
                                           ParameterName='GeoFips')
request.parameter_values

KeyError: 'Results'

## Data Retrieval API Method

The BEA API has one method for retrieving data: `GetData`. This method has its own function in the `pybea` package.

In [ ]:
pybea.get_data?

# NIPA (National Income and Product Accounts)

This dataset contains data from the National Income and Product Accounts which include measures of the value and composition of U.S.production and the incomes generated in producing it. NIPA data is provided on a table basis; individual tables contain between fewer than 10 to more than 200 distinct data series.

## Example Usage

Percent change in Real Gross Domestic Product, Annually and Quarterly for all years.

In [9]:
data = pybea.get_data(USER_ID,
                      DataSetName='NIPA',
                      TableName='T10101',
                      Frequency=['A', 'Q'],
                      Year='ALL',
                      ResultFormat="XML"
                      )

In [10]:
data.head()

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,CL_UNIT,UNIT_MULT,METRIC_NAME,DataValue
0,T10101,A191RL,1,Gross domestic product,1947Q2,"Percent change, annual rate",0,Fisher Quantity Index,-1.0
1,T10101,A191RL,1,Gross domestic product,1947Q3,"Percent change, annual rate",0,Fisher Quantity Index,-0.8
2,T10101,A191RL,1,Gross domestic product,1947Q4,"Percent change, annual rate",0,Fisher Quantity Index,6.4
3,T10101,A191RL,1,Gross domestic product,1948Q1,"Percent change, annual rate",0,Fisher Quantity Index,6.2
4,T10101,A191RL,1,Gross domestic product,1948Q2,"Percent change, annual rate",0,Fisher Quantity Index,6.8

In [11]:
data.tail()

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,CL_UNIT,UNIT_MULT,METRIC_NAME,DataValue
7270,T10101,A191RP,27,"Gross domestic product, current dollars",2018Q4,"Percent change, annual rate",0,Current Dollars,2.9
7271,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q1,"Percent change, annual rate",0,Current Dollars,3.9
7272,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q2,"Percent change, annual rate",0,Current Dollars,4.7
7273,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q3,"Percent change, annual rate",0,Current Dollars,3.8
7274,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q4,"Percent change, annual rate",0,Current Dollars,3.5

## Example Usage

Personal Income, Monthly, for 2015 and 2016.

In [17]:
request = pybea.api.NIPARequest(USER_ID,
                                TableName='T20600',
                                Frequency='M',
                                Year=['2018', '2019'],
                                ResultFormat='JSON')

In [18]:
request.data.head()

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,METRIC_NAME,CL_UNIT,UNIT_MULT,DataValue,NoteRef
0,T20600,A065RC,1,Personal income,2019M01,Current Dollars,Level,6,18257357.0,NaN
1,T20600,A065RC,1,Personal income,2019M02,Current Dollars,Level,6,18363477.0,NaN
2,T20600,A065RC,1,Personal income,2019M03,Current Dollars,Level,6,18445506.0,NaN
3,T20600,A065RC,1,Personal income,2019M04,Current Dollars,Level,6,18505679.0,NaN
4,T20600,A065RC,1,Personal income,2019M05,Current Dollars,Level,6,18546520.0,NaN

In [19]:
data.tail()

,TableName,SeriesCode,LineNumber,LineDescription,TimePeriod,CL_UNIT,UNIT_MULT,METRIC_NAME,DataValue
7270,T10101,A191RP,27,"Gross domestic product, current dollars",2018Q4,"Percent change, annual rate",0,Current Dollars,2.9
7271,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q1,"Percent change, annual rate",0,Current Dollars,3.9
7272,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q2,"Percent change, annual rate",0,Current Dollars,4.7
7273,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q3,"Percent change, annual rate",0,Current Dollars,3.8
7274,T10101,A191RP,27,"Gross domestic product, current dollars",2019Q4,"Percent change, annual rate",0,Current Dollars,3.5

# NIUnderlyingDetail (National Income and Product Accounts)

The DataSetName is NIUnderlyingDetail. This dataset contains underlying detail data from the National Income and Product Accounts which include measures of the value and composition of U.S.production and the incomes generated in producing it. NIPA Underlying Detail data is provided on a table basis; individual tables contain between fewer than 10 to more than 200 distinct data series.

## Example Usage

Personal Consumption Expenditures, Current Dollars, Annually, Quarterly and Monthly for all years.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='NIUnderlyingDetail',
                      TableName='U20305',
                      Frequency=['A', 'Q'],
                      Year='ALL',
                      ResultFormat='XML')

In [ ]:
data.head()

In [ ]:
data.tail()

## Example Usage

Auto and Truck Unit Sales, Production, Inventories, Expenditures and Price, Monthly, for 2015 and 2016

In [ ]:
request = pybea.api.NIUnderlyingDetailRequest(USER_ID,
                                              TableName='U70205S',
                                              Frequency='M',
                                              Year=['2015', '2016'],
                                              ResultFormat='JSON')

In [ ]:
request.data.head()

In [ ]:
request.data.tail()

# Fixed Assets

The FixedAssets dataset contains data from the standard set of Fixed Assets tables as published online.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='FixedAssets',
                      TableID='16',
                      Year='2012',
                      ResultFormat='XML')

In [ ]:
data.head()

In [ ]:
data.tail()

# ITA (International Transactions)

This dataset contains data on U.S. international transactions. BEA's international transactions (balance of payments) accounts include all transactions between U.S. and foreign residents.

## Example Usage

Balance on goods with China for 2011 and 2012.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='ITA',
                      Indicator='BalGds',
                      AreaOrCountry='China',
                      Frequency='A',
                      Year=['2011', '2012'],
                      ResultFormat='XML')

In [ ]:
data.head()

## Example Usage

Net U.S. acquisition of portfolio investment assets (quarterly not seasonally adjusted) for 2013.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='ITA',
                      Indicator='PfInvAssets',
                      AreaOrCountry='AllCountries',
                      Frequency='QNSA',
                      Year='2013',
                      ResultFormat='XML')

In [ ]:
data.head()

# [DEPRECATED] RegionalIncome

## Example Usage

Fetch data on personal income for 2012 and 2013 for all counties, in JSON format

In [15]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalIncome',
                      TableName='CA1',
                      LineCode=1,
                      GeoFips='COUNTY',
                      Year=['2012', '2013'],
                      ResultFormat='JSON')

KeyError: 'Results'

In [ ]:
data.head()

In [ ]:
data.tail()

# [DEPRECATED] RegionalProduct

## Example Usage

Real GDP for all years for all MSAs, in JSON format

In [16]:
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalProduct',
                      Component="RGDP_MAN",
                      IndustryId=1,
                      GeoFips="MSA",
                      Year="ALL",
                      ResultFormat='XML')

AttributeError: 'NoneType' object has no attribute 'findall'

In [ ]:
data.head()

In [ ]:
data.tail()

## Example Usage

GDP for 2012 and 2013 for selected Southeast states, for the Retail Trade industry.

In [ ]:
southeast_states = ["01000", "05000", "12000", "13000", "21000", "22000", 
                    "28000", "37000", "45000", "47000", "51000", "54000"]
data = pybea.get_data(USER_ID,
                      DataSetName='RegionalProduct',
                      Component="GDP_sAN",
                      IndustryId=35,
                      GeoFips=southeast_states,
                      Year=["2013", "2013"],
                      ResultFormat='XML')

In [ ]:
data.head()

In [ ]:
data.tail()

# InputOutput

The Input-Output Statistics are contained within a dataset called InputOutput. BEA's industry accounts are used extensively by policymakers and businesses to understand industry interactions, productivity trends, and the changing structure of the U.S. economy. The input-output accounts provide a detailed view of the interrelationships between U.S. producers and users. 

## Example Usage

Data from The Use of Commodities by Industries, Before Redefinitions (Producerâ€™s Prices) sector level table for years 2010, 2011, and 2012.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='InputOutput',
                      TableID=2,
                      Year=['2010', '2011', '2012', '2013'],
                      ResultFormat='JSON')

In [ ]:
data.head()

In [ ]:
data.tail()

## Example Usage

Data for 2007 from The Make of Commodities by Industries, Before Redefinitions sector and summary level tables.

In [ ]:
data = pybea.get_data(USER_ID,
                      DataSetName='InputOutput',
                      TableID=[46, 47],
                      Year='2007',
                      ResultFormat='JSON')

In [ ]:
data.head()

In [ ]:
data.tail()